@import '~bootstrap/dist/css/bootstrap.min.css';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Lato';
}

#root,
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.list{
    background-color: #a5a5a5;
    padding: 10px;
    width: 700px;
    margin: 0 auto;
    border-radius: 15px;
}

.select{
  background-color: #000;
  padding: 1px;
  padding-bottom: 5px;
}

.cursor{
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

.alert{
  margin-bottom: 3px;
}

.list-header{
  background-color: beige;
}

.list-reset{
  margin-top: 10px;
  margin-right: 10px;
}

.alert-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-color: #000;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 60%);
    padding: 6px 15px;
}

@media screen and (max-width: 768px) {
  .list {
    width: 100%;
    margin: 0 20px;
  }

  .alert-info {
    flex-wrap: wrap;
  }

  .alert-info span {
    width: 80%;
  }
}